html, body {
    margin: 0;
    padding: 0;
}

body {
    perspective: 500px;
    background-image: url(/static/images/skull_roses_logo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body, input {
    /* font-family: "Goudy Old Style", "Brush Script MT", sans-serif; */
    font-family: sans-serif;
}

input {
    margin: 0.2rem;
}

.nodisplay {
    display: none;
}

.boxed-area {
    background: rgba(255, 255, 255, 0.8);
    margin: 1rem;
    padding: 1rem;
    border-radius: 2px;
}

#global-banner {
    font-weight: bold;
    font-size: 1.6rem;
}
#global-banner:empty {
    display: none;
}
#global-banner.error {
    background: red;
    color: white;
}

#start-screen {
    margin: 1rem auto;
    max-width: 900px;
    text-align: center;
}

dialog {
    min-width: 75vw;
    max-width: 90vw;
}

#game-share>div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}
#game-share>div>div:first-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
#game-share input[type="readonly"] {
    flex: 1;
}
#link-qrcode {
    padding: 10px;
    background: white;
}
#link-qrcode>* {
    max-width: 100px;
}

#players {
    display: table;
    border-collapse: collapse;
    margin: 1rem 0;
}

#players>*:first-child { /* Header row */
    font-weight: bold;
}

#players>* {
    display: table-row;
}

#players>*[data-current-player="true"] {
    font-weight: bold;
}

#game-screen:not([data-leader="true"]) *[data-if-role="leader"] {
    display: none;
}

#game-screen:not([data-in-game="true"]) *[data-if-state="in-game"] {
    display: none;
}

#players>*>* {
    display: table-cell;
    padding: 0.2rem;
    border: 1px solid black;
}

