#container {
    margin: 0 auto;
    max-width: 1000px;
    background-color: lightblue;
}

#table {
    display: table;
}

#table>* {
    display: table-row;
}

#table>*>* {
    display: table-cell;
    padding: 0.5rem;
}
