body {
    margin: 0;
    padding: 0;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body.banner > *:not(:is(#connecting-banner, #error-banner)) {
    display: none;
}

#connecting-banner {
    background-color: #ccf;
    padding: 0.5rem;
    text-align: center;
}

#error-banner {
    background-color: #f66;
    padding: 0.5rem;
    text-align: center;
}

#error-banner input[type=button],
#invite-modal input[type=button] {
    margin: 1rem;
    padding: 0.5rem;
    background: #99f;
    color: white;
    font-weight: bolder;
    font-size: 1.1em;
    cursor: pointer;
}

#game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
}

#invite-modal {
    min-width: 500px;
    text-align: right;
}

#invite-modal::backdrop {
  background-color: rgba(200, 200, 220, 0.5);
}

#invite-modal > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#invite-modal > div > #link-url {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#invite-modal input[type=url] {
    flex: 1;
}

#link-qrcode {
    padding: 20px;
    background: white;
}

#link-qrcode > * {
    max-width: 400px;
}

#open-invite {
    margin: 1rem;
    padding: 0.5rem;
    background: #99f;
    color: white;
    font-weight: bolder;
    font-size: 1.1em;
    cursor: pointer;
}

.copied-indicator {
    text-align: center;
    padding: 0.5rem;
    background: rgba(200, 200, 220, 0.5);
    border-radius: 0.5rem;
    transform: translate(-50%, -50%);
    user-select: none;
}

.copied-indicator::after {
    content: "\a▼";
    white-space: pre;
    color: rgba(100, 100, 200);
}

#nickpicker {
    max-width: 960px;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    background: rgba(200, 200, 220, 0.5);
    border-radius: 0.5rem;
}

#not-in-game {
    font-size: 1.3rem;
    text-align: center;
}

#not-in-game .cards {
    margin: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;

    font-variant: small-caps;
}

#not-in-game .cards > * {
    margin: 0.5rem;
    padding: 2rem;
    border: 1px solid black;
    background: #eef;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0 0 0.5rem black;
}

#playerlist {
    list-style-type: none;
    margin-bottom: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#playerlist > * {
    padding: 0.5rem;
    background: #eee;
    white-space: nowrap;
}

#playerlist > .you {
    background: #eef;
}

#playerlist > .leader::after {
    content: '♦';
    margin-left: 1ch;
    color: blue;
    text-decoration: none;
}

#gamesettings .emphasize-labels {
    line-height: 150%;
}

#gamesettings .emphasize-labels label {
    border: 1px solid #aaf;
    border-radius: 0.5rem;
    padding: 0.2rem;
    white-space: nowrap;
}

#gamesettings input[type=number] {
    width: 8ch;
}

fieldset {
    margin: 1rem;
}

fieldset > * {
    margin: 0.5rem 0.1rem;
}

.leader-action {
    margin: 1rem;
    padding: 0.5rem;
    background: #99f;
    color: white;
    font-weight: bolder;
    font-size: 1.1em;
    cursor: pointer;
}