body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    padding: 1rem;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.5rem;
}

h3 {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.2rem;
}

body.banner > *:not(:is(#connecting-banner, #error-banner)) {
    display: none;
}

#connecting-banner {
    background-color: #ccf;
    padding: 0.5rem;
    text-align: center;
}

#error-banner {
    background-color: #f66;
    padding: 0.5rem;
    text-align: center;
}

#error-banner, #invite-modal {
    input[type=button] {
        margin: 1rem;
        padding: 0.5rem;
        background: #99f;
        color: white;
        font-weight: bolder;
        font-size: 1.1em;
        cursor: pointer;
    }
}

#game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

#maincontent {
    flex: 1 0 60vw;
    min-width: 60vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    text-align: center;
}

#sidebar {
    flex: 1 1 min(400px, 100vw);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    > * {
        width: 100%;
    }
}

#history > div {
    min-width: min(400px, 100vw);
    max-height: 50vh;
    overflow-y: scroll;
}

.history-round {
    padding: 0.5rem;
    background: #ddf;

    &:nth-child(odd) {
        background: #eef;
    }
}


.history-cards {
    margin: 0.5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    &> div {
        padding: 1rem;
        background: #ccc;
        border-radius: 0.5rem;

        * {
            margin: 0;
        }

        h3 {
            margin-bottom: 1rem;
        }
    }
}

#players > :is(h2, h3) {
    padding: 0;
    margin: 0;
}

#readylist {
    padding: 1rem;
    margin: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem;

    div {
        flex: 1;
        padding: 1rem;
        border: 1px solid black;
        background: lightgreen;

        &::after {
            float: right;
            content: '✔';
        }

        &:not(.ready) {
            background: pink;

            &::after {
                content: '⧖';
            }
        }
    }

}

#invite-modal {
    min-width: 500px;
    text-align: right;
}

#invite-modal::backdrop {
  background-color: rgba(200, 200, 220, 0.5);
}

#invite-modal > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > #link-url {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}


#invite-modal input[type=url] {
    flex: 1;
}

#link-qrcode {
    padding: 20px;
    background: white;
}

#link-qrcode > * {
    max-width: 400px;
}

#open-invite {
    margin: 1rem;
    padding: 0.5rem;
    background: #99f;
    color: white;
    font-weight: bolder;
    font-size: 1.1em;
    cursor: pointer;
}

#nickpicker {
    max-width: 960px;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    background: rgba(200, 200, 220, 0.5);
    border-radius: 0.5rem;
}

#not-in-game {
    font-size: 1.3rem;
    text-align: center;

    & .cards {
        margin: 1rem;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        flex-wrap: wrap;

        font-variant: small-caps;

        & > * {
            margin: 0.5rem;
            padding: 2rem;
            border: 1px solid black;
            background: #eef;
            font-size: 1.2em;
            cursor: pointer;
            box-shadow: 0 0 0.5rem black;
        }
    }
}

#playerlist {
    list-style-type: none;
    margin-bottom: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    & > * {
        padding: 0.5rem;
        background: #eee;
        white-space: nowrap;
    }

    & > .you {
        background: #eef;
    }

    & > .leader::after {
        content: '♦';
        margin-left: 1ch;
        color: blue;
        text-decoration: none;
    }
}


#gamesettings {
    &:not(.expanded) {
        height: 0;

        > *:not(legend) {
            display: none;
        }
    }

    & .emphasize-labels {
        line-height: 150%;

        label {
            border: 1px solid #aaf;
            border-radius: 0.5rem;
            padding: 0.2rem;
            white-space: nowrap;
        }
    }
    input[type=number] {
        width: 8ch;
    }
}


fieldset {
    margin: 1rem;
    border-top: 1px solid black;

    & > * {
        margin: 0.5rem 0.1rem;
        padding: 0.5rem;
    }
}

.leader-action {
    margin: 1rem;
    padding: 0.5rem;
    background: #99f;
    color: white;
    font-weight: bolder;
    font-size: 1.1em;
    cursor: pointer;
}

.spoiler {
    background: black;
    color: black;
    display: inline-block;
    min-width: 20ch;
    padding: 0.2rem;
    cursor: pointer;
    user-select: none;

    &:hover, &.show {
        color: white !important;
    }
}
